<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hakkımda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hakkımda</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
  <!-- <ion-button>Hakkımda</ion-button> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-icon name="logo-instagram"></ion-icon>
  <ion-icon name="logo-twitter"></ion-icon>
  <ion-icon name="logo-github"></ion-icon>
  <ion-icon name="logo-whatsapp"></ion-icon>
  <ion-icon name="logo-chrome"></ion-icon>
  <ion-badge color="primary">11</ion-badge>


</ion-content>
