<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anasayfa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Anasayfa</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Anasayfa"></app-explore-container> -->
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
  <!-- <ion-button>Anasayfa</ion-button> -->
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
